## Phase 6 (Deployment): Modell 6 (Sex, Age, Pclass)

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 22](https://data-science.training/kapitel-22/)
* Datum: 23.03.2023

Originaldaten

Modell 6: Frauen und Kinder der 1. und 2. Klasse überleben, alle anderen sterben.

In [4]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd

In [5]:
# Anwendungsdaten als Pandas Data Frame (df) aus CSV-Datei laden
#  (KNIME: "CSV Reader")
filename = '../../data/titanic/original/application.csv'
df_app  = pd.read_csv(filename)

In [6]:
# Modell 6: Frauen und Kinder der 1. und 2. Klasse überleben, alle anderen sterben. 
#  (KNIME: "Category To Number" und "Math Formula")
df_app['Prediction'] = ( ( (df_app['Sex'] == 'female') | (df_app['Age'] < 12) ) \
                       & ( (df_app['Pclass'] != 3) ) ).astype('int')

In [7]:
# Ergebnisse filtern
#  (KNIME: "Column Filter")
df_res = df_app.filter(['PassengerId', 'Prediction'])
# Ergebnisse anzeigen
display(df_res)

    PassengerId  Prediction
0          1310           0
1          1311           0
2          1312           0
3          1313           0
4          1314           0
5          1315           1
6          1316           1
7          1317           1
8          1318           1
9          1319           1
10         1320           0
11         1321           0
12         1322           0
13         1323           1
14         1324           1
15         1325           0
16         1326           0
17         1327           0
18         1328           0
19         1329           0
20         1330           1
21         1331           0
22         1332           0