## Age Phase 4 (Modeling): Modell 3 (Zufallszahlen)

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 13](https://data-science.training/kapitel-13/)
* Datum: 23.03.2023

Modell 3: Zufallszahlen: Mittelwert +/- Standardabweichung

In [4]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd
# NumPy Paket (Package) importieren
#  Mehrdimensionale Datenstrukturen (Vektoren, Matrizen, Tensoren, Arrays), Lineare Algebra
#  https://numpy.org/doc/
import numpy as np
# Klassen und Funktionen der scikit-learn Module importieren
#  Maschinelles Lernen, Algorithmen
#  https://scikit-learn.org/stable/modules/classes.html
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [5]:
# Trainingsdaten als Pandas Data Frame (df) aus Excel-Datei laden
#  (KNIME: "Excel Reader")
df_train = pd.read_excel('../../data/titanic/age/training_v1.xlsx')

In [6]:
# Modell 3: Zufallszahlen um den Mittelwert (Mean) innerhalb der Standardabweichung
#  (KNIME: "Math Formula")
np.random.seed(0)
df_train['Prediction'] = df_train['Age'].mean() + (2 * np.random.rand() - 1) * df_train['Age'].std()
display(df_train)

,Age,SibSp,Parch,Fare,TicketCount,LogFare,FirstnameMeanAge,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mrs,Title_Rare,Prediction
0,22.0,1,0,7.2500,1,2.110213,20.000000,0,1,1,0,1,0,0,0,0,31.349887
1,26.0,0,0,7.9250,1,2.188856,26.000000,0,1,0,0,1,0,1,0,0,31.349887
2,35.0,1,0,53.1000,2,3.316003,36.000000,0,0,0,0,1,0,0,1,0,31.349887
3,35.0,0,0,8.0500,1,2.202765,32.127119,0,1,1,0,1,0,0,0,0,31.349887
4,54.0,0,0,51.8625,2,3.293287,54.000000,0,0,1,0,1,0,0,0,0,31.349887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,3.0,1,1,13.7750,3,1.721277,3.000000,0,1,0,0,1,0,1,0,0,31.349887
937,37.0,1,0,90.0000,3,3.433987,32.127119,0,0,0,1,0,0,0,1,0,31.349887
938,28.0,0,0,7.7750,1,2.171907,28.000000,0,1,0,0,1,0,1,0,0,31.349887
939,39.0,0,0,108.9000,3,3.618993,39.000000,0,0,0,0,0,0,0,1,0,31.349887
940,38.5,0,0,7.2500,1,2.110213,38.500000,0,1,1,0,1,0,0,0,0,31.349887

In [7]:
# GÃ¼temaÃŸe bestimmen und ausgeben
#  (KNIME: "Numeric Scorer")
#
r2   = r2_score(                      df_train['Age'], df_train['Prediction'])
rmse = root_mean_squared_error(       df_train['Age'], df_train['Prediction'])
mae  = mean_absolute_error(           df_train['Age'], df_train['Prediction'])
mape = mean_absolute_percentage_error(df_train['Age'], df_train['Prediction'])
#
print('R^2  : %8.4f' % (r2))
print('RMSE : %6.2f' % (rmse))
print('MAE  : %6.2f' % (mae))
print('MAPE : %5.1f %%' % (100*mape))

R^2  :  -0.0095
RMSE :  14.62
MAE  :  11.63
MAPE : 169.5 %